html,
body {
    background-color: #f3f7f7;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: black;
}

.top-nav {
    position: sticky;
    display: flex;
    flex-direction: row;
    height: 62px;
    border-radius: 0px;
    background-color: #f13a19;
}

.side-nav {
    align-self: flex-start;
    flex-basis: 36%;
}

.nav-header {
    font-size: 30px;
    font-weight: bold;
    color: black;
    font-family: 'Bitter', serif;
}

.center-nav {
    flex-basis: 35%;
}

.end-nav {
    flex-basis: 27%;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.list a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Bitter', serif;
    height: 100%;
}

.list li {
    padding: 1em;
}

.aboutus,
#homepage {
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 1%;
    margin-right: 1%;
    padding-bottom: 0px;
}

.home-overlay {
    background-attachment: fixed;
    background-image: url("../images/pexels-kelly-lacy-3794805.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    padding-top: 4%;
    padding-bottom: 4%;
    height: 800px;
}

.heading {
    font-weight: bolder;
    font-size: 35px;
    color: black;
    align-self: center;
}

.heading2 {
    font-size: 28px;
    font-style: italic;
    color: #191a1a;
}

.pass {
    font-size: 23px;
    color: black;
}

.pass1 {
    color: white;
    font-size: 23px;
}

.heading,
.heading2,
.pass,
#join {
    margin-top: 20px;
    margin-left: 150px;
}

.carousel-item {
    background-color: rgba(0, 0, 0, 0.8);
}

.box {
    font-family: 'Poppins', sans-serif;
    outline: 3px solid rgba(0, 0, 0, 0.02);
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease 0s;
}

.box:hover {
    border-radius: 5px;
    outline-offset: 4px;
    outline-color: #f13a19;
}

.box:before {
    content: "";
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 51%, rgba(255, 255, 255, 0.8) 52%);
    opacity: 0;
    transform-origin: bottom center;
    transform: scaleY(0);
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index: 1;
    transition: all 0.4s ease 0s;
}

.box:hover:before {
    opacity: 1;
    transform: scaleY(1);
}

.box img {
    width: 100%;
    height: auto;
    transform-origin: top center;
    transition: all 0.4s ease 0s;
}

.box:hover img {
    transform: scale(1.2);
}

.box .box-content {
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 0 10px;
    opacity: 0;
    transform: translateY(-50%);
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 2;
    transition: all 0.4s ease 0s;
}

.box:hover .box-content {
    opacity: 1;
    top: 50%;
}

.box .title {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0 0 5px;
}

.box .post {
    color: #f13a19;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
}

.box .icon {
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
}

.box .icon li {
    margin: 0 3px;
    display: inline-block;
}

.box .icon li a {
    color: #1dd1a1;
    background-color: #fff;
    font-size: 16px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.2);
    display: block;
    transition: all 0.3s ease 0s;
}

.box .icon li a:hover {
    color: #fff;
    background-color: #f13a19;

}

@media only screen and (max-width:990px) {
    .box {
        margin: 0 0 30px;
    }
}

.free {
    color: #000;
}