*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.form-box{
    width: 400px;
    height: 500px;
    position: relative;
    margin:0% auto;
    padding: 5px;
    margin-top: 40px;
    border-radius: 25px;
    background: #d8dbdb;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    overflow: hidden;
}
.button-box{
    width:228px;
    margin:35px auto;
    position:relative;
    box-shadow:0 0 20px 9px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

}
.toggle-btn{
    padding: 18px 30px;
    cursor:pointer;
    background: transparent;
    border: 0;
    outline:none;
    position: relative;
}
#btn{
    top:0;
    left: 0;
    position: relative;
    width: 120px;
    height: 108%;
    background: linear-gradient(to right,#f88570,#929797);
    border-radius: 25px;
}
.input-group{
    top:180px;
    position: absolute;
    width: 402px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding:10px 0;
    margin: 0 0; 
    border-left: 0;
    border-top: 0;
    border-right: 0;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 45%;
    padding:16px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 0;
    background: linear-gradient(to right,#f88570,#929797);
    outline: none;
    border-radius: 25px;
}
.check-box{
     margin: 30px 10px 30px 0;
}
span{
    color: black;
    font-size: 12px;
    bottom:75px;
    position: absolute;
}
#login{
    left: 50px;
}
#signup{
    left: 450px;
}
.test{
    text-align: center;
    text-decoration: underline bolder;
}